.banner {
    background-color: $bgFooter;
    background-image: linear-gradient( to right,
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.25)),
    url(../images/bcgr.jpg);
      
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding-bottom: 200px;
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    max-width: 1600px;
}
.banner__hero {
    padding-bottom: 30px;
    margin: 0px;
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: $whiteText;
}
.banner__button {
    width: 200px;
    height: 50px;
    
    background: $blueText;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.banner__button span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    
    letter-spacing: 0.06em;
    
    background: $blueText;
    color: $whiteText;
}